<div style="margin: 100px;">
  <h2 style="background-color: aqua; text-align: center;">MedMinder Challenge</h2>
  
  <div class="table-container">
    <table border="1" cellspacing="0" cellpadding="10" class="centered-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>City</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks">
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.active }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 style="text-align: center;">Add New Patient</h3>
  <form (ngSubmit)="addTask()">
    <div style="text-align: center;">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="newTask.firstName" name="firstName">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="newTask.lastName" name="lastName">
      <label for="city">City:</label>
      <input type="text" id="city" [(ngModel)]="newTask.city" name="city">
      <label for="active">Active yes/no:</label>
      <input type="text" id="active" [(ngModel)]="newTask.active" name="active">
      <button type="submit">Add Patient</button>
    </div>
  </form>
</div>
